server:
  port: 8081
  servlet:
    context-path: /api/file-handling-service
spring:
  application:
    name: file-handling-service
  cloud:
    discovery:
      enabled: true
  config:
    import: optional:configserver:http://localhost:8888
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka